:root {
  // white
  --white: #fff;
  --white-shadow: 0px 8px 16px 0px #c9d9e8b3;
  // orange
  --orange: #ff8a00;
  --orange-gradient: linear-gradient(180deg, #ffb301 0%, #ff9401 100%);
  --orange-shadow: 1px 2px 10px 0px #ff8a0080;
  // text
  --main-text: #3a4571;
}
