@media (max-width: 1124px) {
  .container {
    padding: 0 15px;
  }

  .header {
    gap: 25px;
    &__menu {
      gap: 25px;
    }
    &__funcs {
      gap: 25px;
    }
    &-link {
      font-size: 16px;
    }
  }

  .button {
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 16px;
  }

  .welcome {
    padding: 40px;
    max-width: 640px;
    &__button {
      margin-top: 25px;
    }
    &__text {
      margin-top: 10px;
      font-size: 16px;
      letter-spacing: 1px;
    }
    &__login {
      font-size: 16px;
    }
  }

  .logo {
    height: 70px;
  }
}

@media (max-width: 768px) {
  .header {
    gap: 20px;
    flex-direction: column;
    padding: 60px 0 0;
    &__menu {
      gap: 20px;
      flex-direction: column;
      visibility: hidden;
      opacity: 0;
      height: 0;
    }
    &__funcs {
      gap: 20px;
      flex-direction: column;
      visibility: hidden;
      opacity: 0;
      height: 0;
    }
  }

  .burger {
    display: flex;
  }

  .content {
    margin-top: 60px;
  }
}

@media (max-width: 522px) {
  .lang {
    &__list {
      grid-template-columns: 1fr;
    }
  }

  .welcome {
    padding: 30px 20px;
    &__text {
      letter-spacing: 0;
      b {
        font-size: 15px;
      }
    }
    &__login {
      letter-spacing: 0;
    }
    &__button {
      margin-top: 15px;
    }
    &__text {
      margin-top: 5px;
    }
  }
  .logo {
    height: 50px;
  }
}

@media (max-width: 320px) {
  .logo {
    height: 40px;
  }
}
