.header {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__inner {
    display: flex;
    align-items: center;
    gap: 140px;
  }
  &__functions {
    @include d-flex-center;
    gap: 30px;
    a {
      @include d-flex-center;
    }
  }
  &__info {
    transition: 0.2s color ease-in-out;
    &:hover {
      filter: invert(51%) sepia(97%) saturate(2067%) hue-rotate(3deg) brightness(107%) contrast(104%);
    }
  }
}

.menu {
  display: flex;
  gap: 30px;
  &__link {
    color: var(--white);
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1.6px;
    transition: 0.2s color ease-in-out;
    &:hover {
      color: var(--orange);
    }
  }
}

.lang-select {
  @include d-flex-center;
  gap: 7px;
  padding: 9px;
  color: var(--main-text);
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid var(--white);
  background: var(--white);
  cursor: pointer;
  position: relative;
  img {
    max-height: 20px;
  }
}

.lang-list {
  display: none;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 50px;
  right: 0;
  color: var(--main-text);
  font-size: 16px;
  background-color: var(--white);
  border-radius: 10px;
  padding: 10px 10px;
  &__item {
    display: flex;
    align-items: center;
    gap: 7px;
    img {
      max-height: 20px;
    }
  }
}

.signIn {
  color: #fff;
  font-weight: 300;
  letter-spacing: 1.8px;
  transition: 0.2s color ease-in-out;
  &:hover {
    color: var(--orange);
  }
}

.burger {
  position: absolute;
  right: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  width: 30px;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &__line {
    width: 30px;
    height: 3px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: var(--white-shadow);
  }
}
